@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/droid-sans/DroidSans.ttf') format("truetype");
    src: url('../fonts/droid-sans/DroidSans-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/droid-serif/DroidSerif-Regular.ttf') format("truetype");
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    font-family: 'Droid Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-------INTRO-------*/
.intro {
    width: 100%;
    height: 100vh;
    background: url('../img/intro-bg.jpg') center  no-repeat;
    background-size: cover;

    color: #fff;
}

.intro-header {
    padding-top: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-header__logo {
    width: 170px;
    height: 52px;
}

.intro-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    font-style: normal;
}

.intro-menu__list li {
    margin: 20px 10px;
}

.intro-menu__list li a {
    text-decoration: none;

    color: #fff;
    transition: 0.3ms all ease-out;
}

.intro-main {
    margin: 200px auto 150px auto;
}

.intro-main h1 {
    text-align: center;
    font-size: 80px;
}

.intro__arrow p{
    padding-top: 80px;

    text-align: center;
    font-family: 'Droid Serif', sans-serif;
    font-size: 27px;

    background: url('../img/intro-arrow.png');
    background-size: auto 60px;
    background-position: center 5px;
    background-repeat: no-repeat;
}

.intro__arrow{
    text-align: center;
}


/*------ABOUT------*/
.about {
    width: 100%;
    background-color: #34495e;

    color: #fff;

    font-family: 'Droid Serif', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.about h2 {
    padding: 110px 0 60px 0;
    text-align: center;

    font-family: 'Droid Serif', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.about p {
    font-family: 'Droid Serif', sans-serif;
    font-size: 24px;
}

.about__list {
    margin-top: 50px;
    text-align: center;
}

.about__list li {
    padding: 40px 20px;

}

.about__list li img {
    width: 155px;
    height: 155px;
}

.about__list li h3 {
    margin: 25px 0;
    font-weight: bold;
    font-size: 26px;
}

.about__list li p {
    font-family: 'Droid Serif', sans-serif;

    font-weight: normal;
    font-size: 20px;
}

.about .intro-header {
    padding-top: 0px;
    background-color: #2c3e50;
}


.sticky {
    position: fixed;
    top: 0;
    width: 58%;
    z-index: 999;
}


/*--------PORTFOLIO---------*/
.portfolio {
    padding: 100px 0;
    text-align: center;

    color: #2c3e50;

}

.portfolio h2 {
    font-size: 45px;
    margin-bottom: 60px;
}


.portfolio-filter__list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 95px;
}


.portfolio-filter__list a {
    display: block;
    padding: 0 20px;
    line-height: 35px;
    border-radius: 50px;
    color: #000;

    border: 1px solid transparent;
    font-size: 20px;
    text-decoration: none;
}

.portfolio-filter__list a:hover {
    color: #fff;
    background-color: #2ecc71;
}

.portfolio-works__list li {
    margin-top: 30px;
}

.portfolio-works__list li img {
    width: 100%;
    height: auto;
}


/*-------TEAM-------*/
.team {
    padding: 100px 0;
    background-color: #2980b9;
    color: #fff;

    text-align: center;
}

.team h2 {
    font-size: 45px;
}

.team__list li {
    margin-top: 70px;
}

.team__list li img {
    border-radius: 50%;
}

.team__list li h3 {
    margin-top: 30px;
}

.team__list li p {
    padding: 0 35px;
    margin-top: 35px;
    font-weight: normal;
    font-size: 20px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -30px;
}

.tw {
    background: url('../img/social/twitter.png') center no-repeat;
    width: 60px;
    height: 60px;
}

.inst {
    background: url('../img/social/instagram.png') center no-repeat;
    width: 60px;
    height: 60px;

    margin-left: 30px;
}

.fb {
    background: url('../img/social/facebook.png') center no-repeat;
    width: 60px;
    height: 60px;

    margin-left: 30px;
}

/*------CONTACT-----*/
.contact {
    padding: 100px 0;
    text-align: center;
}

.contact h2 {
    color: #2c3e50;
    font-size: 45px;
}

.contact h3 {
    color: #2c3e50;
    font-size: 26px;
}

.contact-info h4{
    font-size: 16px;
}

.contact-info p {
    font-size: 16px;
}

.contact-form, .contact-info {
    margin-top: 75px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 26px;
    border-bottom: 2px solid #2ecc71;

    resize: none;
}

.contact-form input + input, .contact-form input + textarea {
    margin-top: 20px;
}


.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder  {
    font-size: 26px;
    color: #2c3e50;
}


.contact-form textarea {
    height: 150px;
}

.contact-form button {
    margin-top: 40px;

    display: block;
    padding: 0 20px;
    line-height: 35px;
    border-radius: 50px;

    border: 1px solid transparent;
    font-size: 20px;
    text-decoration: none;

    color: #fff;
    background-color: #2ecc71;
}

.contact-form button:hover {
    cursor: pointer;
}


.contact-info {
    text-align: left;
    margin-left: 0px;
}

.contact-info li {
    margin-top: 50px;
}


/*--------FOOTER--------*/
.footer {
    padding: 75px 0;
    width: 100%;
    background-color: #2c3e50;

    color: #fff;
}

.footer img {
    padding: 0;
    margin: 0;
}

.footer-info {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

